#root {
  text-transform: capitalize;
}

table {
  border: 1px solid black;
}

tbody tr { background: #ddd }
tbody tr.current-prayer { background: lime }

.prayer-times {
  display: grid;
  text-align: center;
}
